<br><br>
<div class="form container">
  <input #username matInput placeholder='username' type='text'>
  <input #email matInput placeholder='email' type='text'>
  <input #password1 matInput placeholder='password1' type='password'>
  <input #password2 matInput placeholder='password2' type='password'>
  <button (click)="signup(username.value, email.value, password1.value, password2.value)" class="button" color="primary" mat-button
          type="submit"> Register
  </button>
</div>

<p>{{ error?.message }}</p>
<p *ngIf="error">{{ error?.error | json }}</p>
