<h2>My orders</h2>

<table mat-table class="mat-elevation-z8" [dataSource]="orders">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let order">{{order.id}}</td>
  </ng-container>

  <ng-container matColumnDef="Code">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let order">{{order.code}}</td>
  </ng-container>

  <ng-container matColumnDef="Code_Year">
    <th mat-header-cell *matHeaderCellDef>Code Year</th>
    <td mat-cell *matCellDef="let order">{{order.code_year}}</td>
  </ng-container>

  <ng-container matColumnDef="Date Registered">
    <th mat-header-cell *matHeaderCellDef>Date Registered</th>
    <td mat-cell *matCellDef="let order">{{order.date_registered}}</td>
  </ng-container>

  <ng-container matColumnDef="Products">
    <th mat-header-cell *matHeaderCellDef>Products</th>
    <td mat-cell *matCellDef="let order">
      <div *ngFor="let product of order.products">
        {{product.name}} ,
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onSelect(row)" [class.selected]="row === selectedOrder"></tr>
</table>
<app-order-details [order]="selectedOrder"></app-order-details>

