<hr>
<button (click)="add()" color="primary" mat-icon-button type="button">
  <mat-icon>add_box</mat-icon>
  New Salesman
</button>
<table [dataSource]="users" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="ID">
    <th *matHeaderCellDef mat-header-cell>ID</th>
    <td *matCellDef="let user" mat-cell>{{user.id}}</td>
  </ng-container>

  <ng-container matColumnDef="Username">
    <th *matHeaderCellDef mat-header-cell>Username</th>
    <td *matCellDef="let user" mat-cell>{{user.username}}</td>
  </ng-container>

  <ng-container matColumnDef="FirstName">
    <th *matHeaderCellDef mat-header-cell>First Name</th>
    <td *matCellDef="let user" mat-cell>{{user.first_name}}</td>
  </ng-container>
  <ng-container matColumnDef="LastName">
    <th *matHeaderCellDef mat-header-cell>Last Name</th>
    <td *matCellDef="let user" mat-cell>{{user.last_name}}</td>
  </ng-container>
  <ng-container matColumnDef="Email">
    <th *matHeaderCellDef mat-header-cell>Email</th>
    <td *matCellDef="let user" mat-cell>{{user.email}}</td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th *matHeaderCellDef mat-header-cell> Action</th>
    <td *matCellDef="let row" class="action-link" mat-cell>
      <button (click)="edit(row)" color="accent" mat-icon-button type="button">
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="delete(row)" color="accent" mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
