<div *ngIf="currentUser" [style.margin-top]="'12px'" fxLayout="row" fxLayoutGap="12px">
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title><strong>{{ currentUser.username | uppercase}}'S </strong> Profile</mat-card-title>
    </mat-card-header>
    <img id="profile-img" mat-card-md-image src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <mat-card-content>
      <p>Name: {{currentUser.first_name}} {{currentUser.last_name}}</p>
      <hr>
      <p>Email: {{currentUser.email}}</p>
      <hr>
      <div *ngFor="let gr of groups">
        <p>Role: {{gr}}</p>
      </div>
      <hr>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
